<% book.book_comments.each do |book_comment| %>
<tr>
  <td><%= image_tag book_comment.user.get_profile_image, size:"50x50" %></br>
    <%= link_to book_comment.user.name, book_comment.user %>
  </td>
  <td></td>
  <td><%= book_comment.comment %></td>
  <td></td>
  <% if book_comment.user == current_user %>
    <td><%= link_to 'Destroy', book_book_comment_path(book_comment.book, book_comment), method: :delete, remote: true, class: "btn btn-sm btn-danger destroy_book_#{book.id}" %></td>
  <% end %>
<% end %>
</tr>